html, body {
    margin: 0px; padding: 0px;
    overflow: hidden;
}
/* Contains a panel */
#container {
    border: 0 solid #888;
    background-color: #f2f2f2;
}
/* Pop-up list of bookmarks by itself */
.panel {
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    position:absolute; top: 0; left: 0;
    font-size: 12px; padding: 0 0 0 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden; overflow-y: auto;
    max-height: 590px;
    max-width: 400px;
    min-width: 400px;
}
/* Top toolbar with the settings button */
.toolbar {
    height: 20px;
    margin: 1px;
    background-color: #dddddd;
}
/* The settings button on toolbar */
.toolbar img {
    float: right;
    width: 20px;
    height: inherit;
    padding: 2px;
}
/* Pop-up list of bookmarks is represented as a table. Every row matches a bookmark, or a folder. Every row contains 3 columns: an icon, a title, and optionally arrow's image (for folder items). */
table {
    border-spacing: 0px;
    margin: 0px; padding: 0px;
}
td {
    margin: 0px; padding: 1px 1px 1px 1px;
}
td * {
    vertical-align: middle;
}
/* An arrow's image in folder item */
td.arrow {
    padding: 1px 5px 1px 1px;
}
/* Bookmark icon */
td.icon img,
td.subfolder-icon img {
    border: none; width: 14px; height: 14px;
    margin-top: -1px;
}
/* Item icon in subfolder */
td.subfolder-icon img {
    margin-left: 14px; /* Attention: this parameter is bound with width of the `div.return_box` */
}
/* Item title */
td.title span,
td.folder span,
/* Subfolder item title */
td.subfolder-title span,
td.subfolder span {
    font-family: Ubuntu, "Droid Sans";
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    max-width: 369px;
    min-width: 369px;
}
/* Folder title */
td.folder span {
    font-weight: bold;
}
/* Subfolder title */
td.subfolder span {
    font-weight: bold;
}
/* Actives when you hover mouse pointer on item */
tr:hover {
    background-color: #bbbbff20;
}
/* Horizontal line, that separates list items */
div.splitter {
    width: inherit; height: 1px; background-color: #d7d7d7;
    margin: 0 0 0 0;
}
/* A block on left side in subfolders for returning to parent folder */
div.return_box {
    position:fixed; left: 0px; width: 14px;
    background-color: #fbfbfb; border: 0px solid #c0c0c0;
    border-left: none;
}
/* Actives when you hover mouse pointer on the return box */
div.return_box:hover {
    background-color: #badeff;
}
/* This sets style of arrow's image in the return box */
div.return_box img {
    margin-left: 4px;
}
/* An empty item (with `...`) */
span.empty {
    color: #aaa;
}